// Resource script for Gens/GS Win32
#include "resource.h"
#include "afxres.h"
#include "winuser.h"

// Icons
IDI_GENS_APP		ICON		"../../../../pixmaps/Gens2.ico"
IDI_GENS_MD		ICON		"../../../../pixmaps/gens.ico"
IDI_SONIC_HEAD		ICON		"../../../../pixmaps/sonic.ico"
IDI_SONIC_WAITING	ICON		"../../../../pixmaps/sonic2.ico"

// Bitmaps
IDB_GENS_LOGO_SMALL	BITMAP		"../../../../pixmaps/gens_small.bmp"
IDB_GENS_LOGO_BIG	BITMAP		"../../../../pixmaps/gens_big.bmp"

// Dialogs
IDD_ZIPSELECT		DIALOGEX	0, 0, 224, 144
STYLE			DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0
CAPTION "Archive File Selection"
BEGIN
	CTEXT		"This archive contains multiple files.\nSelect which file you want to load.", IDC_STATIC, 0, 4, 224, 24
	LISTBOX		IDC_ZIPSELECT_LSTFILES, 4, 24, 224-8, 104, WS_TABSTOP
	DEFPUSHBUTTON	"&OK", IDOK, (224-(65*2+8))/2, 24+104+2, 65, 13
	PUSHBUTTON	"&Cancel", IDCANCEL, ((224-(65*2+8))/2)+65+8, 24+104+2, 65, 13
END
