// Resource script for Gens/GS Win32
#include "resource.h"

// Icons
IDI_GENS_APP		ICON		"../../../../pixmaps/Gens2.ico"
IDI_GENS_MD		ICON		"../../../../pixmaps/gens.ico"
IDI_SONIC_HEAD		ICON		"../../../../pixmaps/sonic.ico"
IDI_SONIC_WAITING	ICON		"../../../../pixmaps/sonic2.ico"

// Bitmaps
IDB_GENS_LOGO_SMALL	BITMAP		"../../../../pixmaps/gens_small.bmp"
IDB_GENS_LOGO_BIG	BITMAP		"../../../../pixmaps/gens_big.bmp"
